<div class="container-fluid mt-5" style="background-color: #051434">
    <footer class="text-center text-lg-start text-white" >
        <div class="container p-4 pb-0">
            <section class="">

                <div class="row">

                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            VỀ CHÚNG TÔI
                        </h6>
                        <p>
                            Chào mừng đến với Túc Cầu Sport - Thế giới giày đá bóng.
                            Với đội ngũ chuyên nghiệp và sự đa dạng sản phẩm
                            chúng tôi tự tin là điểm đến lý tưởng cho anh em đam mê trái bóng tròn.
                            Hãy đến và khám phá ngay nhé!
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none" />


                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">SẢN PHẨM</h6>
                        <p class="mt-2">
                            <a href="" class="text-white">Giày bóng đá Nike</a>
                        </p>
                        <p class="mt-2">
                            <a href="" class="text-white">Giày bóng đá Adidas</a>
                        </p>
                        <p class="mt-2">
                            <a href="" class="text-white">Giày bóng đá Mizuno</a>
                        </p>
                        <p class="mt-2">
                            <a href="" class="text-white">Phụ kiện bóng đá</a>
                        </p>
                    </div>

                    <hr class="w-100 clearfix d-md-none" />
                    <hr class="w-100 clearfix d-md-none" />


                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">LIÊN HỆ</h6>
                        <p class="mt-2"><i class="ti-location-pin"></i> Km10, Trần Phú, Hà Đông</p>
                        <p class="mt-2"><i class="ti-email"></i>  ndinhvan1402@gmail.com</p>
                        <p class="mt-2"><i class="ti-mobile"></i> +84 399.033.023</p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">FOLLOW</h6>

                        <!-- Facebook -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998"
                            href="https://www.facebook.com/" role="button"><i class="ti-facebook"></i></a>

                        <!-- Twitter -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #5da9e2"
                            href="https://twitter.com/" role="button"><i class="ti-twitter"></i></a>

                        <!-- Youtube -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color:red"
                            href="https://youtube.com" role="button"><i class="ti-youtube"></i></a>

                        <!-- Instagram -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: rgb(189, 115, 49)"
                            href="https://instagram.com" role="button"><i class="ti-instagram"></i></a>

                        <!-- Email -->
                        <a class="btn btn-primary btn-floating m-1" style="background-color: #051434" href=""
                            role="button"><i class="ti-email"></i></a>
                    </div>
                </div>

            </section>

        </div>


        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2024 Bản quyền thuộc về tuccausport.com

        </div>
    </footer>
</div>
<script src="/scripts/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>