<div class="container mt-5 pt-3">
    <div class="row">
        <div class="col-sm-4">
            <h2>Về chúng tôi</h2>
            <p>Túc Cầu Sport - Giày Đá Bóng, Phụ Kiện Thể Thao chất lượng, giá tốt.</p>
            <p><i class="ti-hand-point-right px-2"></i> Hotline: 0399.033.023</p>
            <p><i class="ti-hand-point-right px-2"></i> Gmail: tuccausport@gmail.com</p>
            <p><i class="ti-hand-point-right px-2"></i> Facebook: Thế Giới Túc Cầu Store</p>
            <p><i class="ti-hand-point-right px-2"></i> YouTube: Túc Cầu Sport</p>
            <p><i class="ti-hand-point-right px-2"></i> Tiktok: Túc cầu Sport</p>
            <p><i class="ti-hand-point-right px-2"></i> Shoppe: Túc cầu Sport</p>
        </div>
        <div class="col-sm-4">
            <h2>Hướng dẫn</h2>
            <p><i class="ti-check px-2"></i>Hướng dẫn mua hàng</p>
            <p><i class="ti-check px-2"></i>Hướng dẫn chọn size</p>
            <p><i class="ti-check px-2"></i>Chính sách bảo hành</p>
            <p><i class="ti-check px-2"></i>Chính sách vận chuyển</p>
            <p><i class="ti-check px-2"></i>Chính sách bảo mật</p>
            <p><i class="ti-check px-2"></i>Quy định đổi hàng</p>
        </div>
        <div class="col-sm-4">
            <h2>Chuyên mục sản phẩm</h2>
            <p><i class="ti-flag-alt px-2"></i>Nike</p>
            <p><i class="ti-flag-alt px-2"></i>Mizuno</p>
            <p><i class="ti-flag-alt px-2"></i>Adidas</p>
            <p><i class="ti-flag-alt px-2"></i>Bóng đá</p>
            <p><i class="ti-flag-alt px-2"></i>Tất</p>
            <p><i class="ti-flag-alt px-2"></i>Băng keo</p>
            <p><i class="ti-flag-alt px-2"></i>Khác</p>
        </div>

    </div>
</div>

<script src="/scripts/home.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


<!-- script of detailProduct.ejs-->



</body>

</html>