<%- include('partials/header'); %>

    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fs-4">Giỏ hàng</li>
                <li class="breadcrumb-item fs-4">Thanh toán</li>
                <li class="breadcrumb-item text-success fs-4">Hoàn tất</li>
            </ol>
        </nav>
        <div class="card my-5 text-center">
            <div class="card-header">
                <h2 class="w-100 text-center text-success">Đặt hàng thành công</h2>
            </div>
            <div class="card-body">
                <p class="card-text w-75 mx-auto my-3">Chân thành cảm ơn quý khách vì đã tin tưởng và chọn mua sản
                    phẩm tại Thế Giới Túc Cầu. Điều này là một động lực lớn đối với chúng tôi để tiếp tục cung cấp
                    những sản phẩm chất lượng và dịch vụ tốt nhất đến quý khách hàng. Chúng tôi sẽ sớm liên lạc lại
                    thông qua số điện thoại xxxxxxxx.</p>
                <img src="images/finishCheckoutDecor.png" class="w-25" alt=""><br>
                <a href="/" class="btn btn-success mt-5">Về trang chủ</a>
            </div>
        </div>
    </div>

<%- include('partials/footer'); %>