.header1 {
    background-color: black;
    padding: 5px;
}
.text1 {
    color: white;
}
.header2 {
    background-color: rgb(14, 171, 14);
}
.header2 img {
    width: 256px;
    height: 50px;
}
.nav-item > a{
    font-weight: bold;
}

.navbar-nav .nav-item {
    text-align: center;
    margin-right: 15px;
}

.navbar {
    background-color: rgb(14, 171, 14);
}
